@import url("https://fonts.googleapis.com/css2?family=Protest+Revolution&family=Roboto:wght@400;900&family=Special+Elite&family=Vujahday+Script&display=swap");

* {
  box-sizing: border-box;
  font-family: Roboto;
  color: #525151;
}

html,
body {
  margin: 0;
  padding: 0;
}

.nav ul {
  margin: 0;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  padding: 0.5em;
  color: #161616;
  text-decoration: none;
}

.nav a:hover {
    background-color:rgba(249, 213, 165, 0.8);
}

.main-nav{
text-align: center;
font-size: 1.3em;
border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.main-nav li {
    padding: 0 5%;
}

.main-header {
  background-color: rgba(249, 223, 200, 0.5);
  background-image: url(Images/header-background-daniel-olah-VS_kFx4yF5g-unsplash.jpg);
  background-blend-mode: soft-light;
  background-size: cover;
  padding-bottom: 30px;
}

.artist-name {
    text-align: center;
    margin: 0;
    font-size: 3em;
    font-family: Vujahday Script;
    font-weight: normal;
    color: #161616;
}

.artist-name-large {
    font-size: 6em;
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header {
    font-family: Protest Revolution;
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.about-artist-image {
    float: left;
    height: 200px;
    width: 200px;
    margin: 15px;
    border-radius: 50%;
}

.main-footer {
    background-color:rgba(249, 223, 200, 0.6);
    background-image: url(Images/footer-background.jpg);
    background-blend-mode: soft-light;
    background-size: cover;
    color: #161616;
    padding: .25em 0;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 .2em;
}

.footer-nav img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    filter: invert(.9);
}

.footer-nav a:hover {
    border-radius: 50%;
    background-color:rgba(222, 184, 135, .5);
}